
/* Navbar */
#navbar {
  flex-direction: column;
}

#navbar ul li a:hover{
  background-color: #F2CB05;
}

/* Who */
#who #who-text p {
  font-size: 1.5rem;
  padding-top: .5rem;
  margin: 0 1rem;
}

/* Smartphone */
@media(max-width: 500px){
  
  /*Navbar*/
  #navbar .nav-logo {
    font-size: 2rem;
  }
  
  #navbar ul li a {
    padding: 0;
    font-size: 1rem;
  }
  
  /*Showcase*/
  #showcase-content .l-heading{
    font-size: 2.5rem; 
  }
  
  #showcase-content .s-heading {
    font-size: 2rem;
  }
  
  /* About */
  #about .items {
    display: block;
  }
  
  #about .items .item {
    display: block;
    margin: 1rem;
    text-align: center;
  }
  
  /* Who */

  #who {
    display: block;
  }

  #who #who-text {
    text-align: center;
    padding: 1rem 0;
  }

  #who #who-text h2 {
    font-size: 2rem;
    padding-bottom: .5rem;
  }
  
  #who #who-image {
    height: 200px;
  }
  
  /* Contact */
  
  #contact {
    display: block;
  }

  #contact #contact-info {
    padding: .5rem; 
  }
}

